@media screen and (max-width: 1023px) {

.section-1 {
    width: 150%;
    }

.audio {
    width: 30vw;
    height: 4vw;
    margin: 1vw 36vw;
    z-index: 1;
}

.section-1 #ovechka {
    width: 52%;
    height: 63%;
    left: 13vw;
}

.section-1 #ovechka-2 {
    width: 56%;
    height: 89%;
    top: 14vw;
    left: 10vw;
}

.section-1 #nimb {
    width: 25%;
    left: 33vw;
}

.step-4 {
    width: 38.3vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk3.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk2 1.5s infinite steps(1);
    margin-left: -26vw;
}
.step-2 {
    width: 38.3vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk3.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk2 1.5s infinite steps(1);
    margin-left: 1vw;
}
.step-1 {
    width: 38.3vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk4.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk2 1.5s infinite steps(1);
    margin-left: -5vw;
}
.step-3 {
    width: 38.3vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk4.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk2 1.5s infinite steps(1);
    margin-left: 0vw;
}

.section-4 #vinyl1, #vinyl2 {
    width: 52%;
}

#gif {
    width: 200%;
    left: -47vw;
    top: -17vw;
}

#party {
    margin-top: 14vw;
}

#bigv {
    width: 98%;
    left: 1vw;
}

.section-6 #baa-3 {
    width: 23%;
    height: 0%;
}
.section-6 #baa-4 {
    width: 23%;
    height: 0%;
}
.section-6 #baa-5 {
    width: 23%;
    height: 0%;
    margin-top: 31vw;
    margin-left: -16vw;
}

#baa-1 {
    width: 27%;
    height: 50%;
    margin-left: 3vw;
}

#baa-2 {
    width: 23%;
    height: 50%;
    margin-top: 4vw;
    margin-left: -12vw;
}

#bigBaa {
    top: 69vw;
    left: -5vw;
    width: 110%;
    height: 67%;
}

#upLight {
    top: 1vw;
    left: -50vw;
}

#downLight {
    top: 36vw;
    left: -63vw;
}

#plast-1, #plast-2, #plast-3, #plast-4 {
    width: 22%;
}

#plast-1, #plast-2 {
    margin-top: 25vw;
}

#plast-1 {
    margin-left: -9vw;
}

#plast-4 {
    margin-left: 34vw;
}

#rt-green, #rt-green-2, #rt-green-3, #rt-red, #rt-red-2, #rt-red-3, #rt-yellow, #rt-yellow-2, #rt-yellow-3, #rt-blue, #rt-blue-2, #rt-blue-3 {
    width: 3%;
}

#rt-green, #rt-red, #rt-yellow {
    margin-top: 21vw;
}

#rt-green-2, #rt-green-3, #rt-red-2, #rt-yellow-2, #rt-blue, #rt-blue-2, #rt-blue-3 {
    margin-top: 16vw;
    margin-left: 0vw;
}

#rectangle-1, #rectangle-2, #rectangle-3, #rectangle-4 {
    margin-top: 14vw;
}

#rectangle-1 {
    margin-top: 19vw;
    margin-left: -1.9vw;
}

#rectangle-2 {
    margin-top: 19vw;
    margin-left: -7vw;
}

#rectangle-4 {
    margin-left: 2.8vw;
}

#qr {
    width: 24%;
    top: 44vw;
    left: 36vw;
}

}

@media screen and (max-width: 767px) {
    .section-1 {
        height: 133vw;
    }

    .audio {
    width: 62%;
    height: 7%;
    margin: 0vw 4vw;
    z-index: 1;
}

    .section-1 #h1 {
        font-size: 24vw;
        width: 50%;
        height: 75%;
        margin-left: 6vw;
        line-height: 23vw;
    }

    #sf-1, #sf-2, #sf-3, #sf-4, #sf-5, #sf-6, #sf-7, #sf-8, #sf-9, #sf-10, #sf-11 {
        width: 1.5%;
    }

    .section-1 #ovechka {
        width: 66vw;
        height: 64vw;
        margin-top: 34vw;
        margin-left: 3vw;
    }

    .section-1 #ovechka-2 {
        width: 74vw;
        height: 95vw;
        margin-top: 28vw;
        margin-left: 2vw;
    }

    .section-1 #nimb {
    width: 36%;
    left: 22vw;
    top: 62vw;
}

.step-4 {
    width: 37.2vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk5.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk3 1.5s infinite steps(1);
    margin-left: -26vw;
    margin-top: 103vw;
}

.step-2 {
    width: 37.2vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk5.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk3 1.5s infinite steps(1);
    margin-left: -3vw;
}
.step-1 {
    width: 37.2vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk6.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk3 1.5s infinite steps(1);
    margin-left: -2vw;
}
.step-3 {
    width: 37.2vw;
    height: 31.2vw;
    background-image: url('../images/baranWalk6.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    animation: baranWalk3 1.5s infinite steps(1);
    margin-left: -2vw;
}

.rectangle {
    width: 100vw;
    height: 11vw;
    width: 300%;
}

#text1 {
    font-size: 8vw;
}

.section-3 {
    height: 290vw;
    flex-direction: column;
}

.square1 {
    width: 100%;
    height: 34%;
}

.square2 {
    width: 100%;
    height: 34%;
}

.square3 {
    width: 100%;
    height: 34%;
}

#text3, #text4, #text5 {
    font-size: 22vw;
    text-align: center;
    padding: 0;
    padding-top: 29vw;
}

.section-4 {
    height: 119vw;
    width: 200vw;
    animation: vinylMoving2 23s linear infinite;
}

#gif {
    width: 300%;
    top: -30vw;
}

#party {
    font-size: 83vw;
    -webkit-text-stroke-width: 5vw;
    margin-top: 36vw;
    animation: textMoving2 10s linear infinite, textColorChange 6s infinite linear forwards;
}

#sf-12, #sf-13, #sf-14, #sf-15, #sf-16, #sf-17 {
    width: 1.5%;
    z-index: 1;
}

#upLight {
    width: 220vw;
    top: -2vw;
    left: -48vw;
}

#downLight {
    width: 220vw;
    top: 23vw;
    left: -75vw;
}

#rectangle-2 {
    margin-left: -5vw;
}

#rectangle-4 {
    margin-left: 4.9vw;
}

.section-8 {
    height: 10vw;
}

#text6, #text7, #text8 {
    padding-top: 7vw;
}

}

