@font-face {
    font-family: "Grid Type";
    src: url("../fonts/BAA!\ big.otf") format("otf");
}

@font-face {
    font-family: "Grid Type";
    src: url("../fonts/BAA!\ little.otf") format("otf");
}

@font-face {
    font-family: "Cygre-ExtraBold";
    src: url("../fonts/Cygre-ExtraBold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}