/* общие стили для страницы */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* width: 1440px; */
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Grid Type", "Cygre-ExtraBold";
    background-color: black;
    cursor: url('../images/cursor.svg') 2 2, default;
}

/* задний фон */

body::after {
    content: "";
    position: absolute;
    top: 0;
    background-image: url('../images/задний\ фон.svg');
    background-repeat: no-repeat;
    width: 1500px;
    height: 6000px;
    margin: 0 20px 0 38px;
    opacity: 0.2;
    z-index: -2;
}

/* секция 1 */

.section-1 {
    position: relative;
    margin-bottom: -0.7vw;
}

.section-1 h1 {
    font-size: 16.93vw;
    color: white;
    -webkit-text-stroke-width: 2vw;
    -webkit-text-stroke-color: #0ADB81;
    paint-order: stroke fill;
    letter-spacing: 0.7vw;
    word-spacing: -9.5vw;
    line-height: 17.6vw;
    text-align: center;
    position: absolute;
    top: 5vw;
    left: 6.5vw;
    animation: textColorChange 6s infinite linear forwards;
}

.section-1 h1:hover {
    animation-play-state: paused;
}

#sf-1 {
    position: absolute;
    top: 7vw;
    left: 9vw;
    animation: snowFall 1.2s linear infinite reverse;
}

#sf-2 {
    position: absolute;
    top: 3vw;
    left: 24.5vw;
    animation: snowFall 1.4s linear infinite reverse;
}

#sf-3 {
    position: absolute;
    top: 6vw;
    left: 77.5vw;
    animation: snowFall 1.6s linear infinite reverse;
}

#sf-4 {
    position: absolute;
    top: 14vw;
    left: 88.7vw;
    animation: snowFall 1.8s linear infinite reverse;
}

#sf-5 {
    position: absolute;
    top: 23vw;
    left: 11.7vw;
    animation: snowFall 1.6s linear infinite reverse;
}

#sf-6 {
    position: absolute;
    top: 38vw;
    left: 16.2vw;
    animation: snowFall 1.4s linear infinite reverse;
}

#sf-7 {
    position: absolute;
    top: 42.4vw;
    left: 78.7vw;
    animation: snowFall 1.2s linear infinite reverse;
}

#sf-8 {
    position: absolute;
    top: 29.4vw;
    left: 84vw;
    animation: snowFall 1s linear infinite reverse;
}

#sf-9 {
    position: absolute;
    top: 51.4vw;
    left: 88.7vw;
    animation: snowFall 1.8s linear infinite reverse;
}

#sf-10 {
    position: absolute;
    top: 51.4vw;
    left: 31.7vw;
    animation: snowFall 1.6s linear infinite reverse;
}

#sf-11 {
    position: absolute;
    top: 51vw;
    left: 7.3vw;
    animation: snowFall 1.2s linear infinite reverse;
}

#ovechka {
    position: absolute;
    top: 35.4vw;
    left: 27vw;
}

#ovechka-2 {
    position: absolute;
    top: 17.4vw;
    left: 26.6vw;
    animation: ovechkaTransform 1.7s ease infinite;
    animation-play-state: paused;
}

#ovechka-2:hover {
    animation-play-state: running;
}

#nimb {
    position: absolute;
    top: 32vw;
    left: 32vw;
    z-index: -1;
}

.step-4 {
    width: 30.3vw;
    height: 25.2vw;
    background-image: url('../images/baranWalk2.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    margin-top: 54.3vw;
    margin-left: -12.4vw;
}

.step-2 {
    width: 30.3vw;
    height: 25.2vw;
    background-image: url('../images/baranWalk2.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
}

.step-1 {
    width: 30.3vw;
    height: 25.2vw;
    background-image: url('../images/baranWalk.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
}

.step-3 {
    width: 18.3vw;
    height: 25.2vw;
    background-image: url('../images/baranWalk.svg');
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: row;
    margin-left: 0;
}

.step-1, .step-2, .step-3, .step-4 {
    animation: baranWalk 1.5s infinite steps(1);
}

/* секция 2 */

.section-2 {
    position: relative;
    z-index: 2;
    width: 350%;
}

.rectangle {
    width: 100vw;
    height: 6.66vw;
    background-color: #0ADB81;
    display: flex;
    width: 350%;
}

#text1 {
    font-size: 4vw;
    font-family: 'Cygre-ExtraBold';
    color: white;
    padding: 1.5vw;
    animation: textMoving 30s linear infinite;
    animation-play-state: running;
}

#text1:hover {
    animation: textMoving 30s linear infinite reverse;
}


/* секция 3 */

.section-3 {
    display: flex;
    flex-direction: row;
}

.square1 {
    width: 33.3vw;
    height: 33.3vw;
    background-color: #0ADB81;
    animation: squareColorChange 3.5s linear infinite;
}

.square2 {
    width: 33.3vw;
    height: 33.3vw;
    background-color: #029B59;
    animation: squareColorChange2 3.5s linear infinite;
}

.square3 {
    width: 33.3vw;
    height: 33.3vw;
    background-color: #005D35;
    animation: squareColorChange3 3.5s linear infinite;
}

#text3, #text4, #text5 {
    font-size: 7.3vw;
    font-family: 'Cygre-ExtraBold';
    color: white;
    padding-top: 10vw;
}

#text3 {
    text-align: left;
    padding-left: 3vw;
}

#text4 {
    text-align: center;
    word-spacing: -1.5vw;
}

#text5 {
    text-align: right;
    padding-right: 5vw;
}

/* секция 4 */

.section-4 {
    display: flex;
    flex-direction: row;
    animation: vinylMoving 25s linear infinite;
}

/* секция 5 */

.section-5 {
    position: relative;
}

#gif {
    position: absolute;
    left: 0;
    top: -8vw;
    width: 100%;
    z-index: -1;
}

/* секция 6 */

.section-6 {
    position: relative;
}

#party {
    font-size: 28.93vw;
    color: white;
    -webkit-text-stroke-width: 2vw;
    -webkit-text-stroke-color: #0ADB81;
    paint-order: stroke fill;
    letter-spacing: 0.7vw;
    word-spacing: -9.5vw;
    line-height: 17.6vw;
    text-align: center;
    margin-top: 9vw;
    animation: textColorChange 6s infinite linear forwards;
}